body {
    background-color: #D7DADB;
    font-family: helvetica;
    color: white;
}

td {
    border-top: solid 1px white;
    padding-top: 5px;
    padding-left: 50px;
    font-size: 17px;
}

tr {
    border-top: solid 1px white;
}

a {
    color: white;
}
a:hover {
    color: #337ab7;
    text-decoration: none;
}

#my-top-bar {
    background-color: #6DBCDB;
    height: 80px;
    
    padding-top: 10px;
}
#my-nav-bar {
    background-color: #6DBCDB;
    height: 45px;
    padding-top: 5px;
    font-size: 14px;
    font-family: Arial;
    padding-top: 10px;
    
}
img, .nav-icon{
    min-height: 0px;
    height: 30px;
    margin: 0px 0px 5px 5px;
}
    
.enter-box{
    /*background-color: #6DBCDB;*/
    background-color: #2C3E50;
    margin-top: 50px;
    padding: 0px 0px 0px 0px;
    height: 125px;
    border-radius: 10px;
}
.enter-name{
    margin: 20px 0px 0px 25px;
}
.name-box{
    margin: 0px 0px 50px 25px ;
    height: 40px;
}
.glyphicon {
    color: white;
    font-size: 18px;
}
.page-heading {
    color: #BF1913;
    font-size: 2.6em;
    /*margin: 15px 0px 0px 30px;*/
    border-bottom: 3px solid white;
    /*font-family: 'Courgette', cursive;*/
    font-family: 'Open Sans', sans-serif;
}

.my-circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: white;
    display: inline-block;
    margin-right: 15px;
}

.fb-button{
    background-color: #3b5998;
    height: 75px;
    margin: 100px 0px 0px 0px;
    min-width: 300px;
}

.email-button{
    background-color: #ADD8E6;
    height: 75px;
    margin: 0px 0px 0px 0px;
    min-width: 300px;
}

.big-words {
    font-size: 25px;
    color: white;
    margin: 50px 0px 50px 0px;
}
.sign-in {
    color: white;
    margin-top: 100px;
}
.home-nav-box {
    height: 50px;
    background-color: #2C3E50;
    margin: 50px 0px 50px 0px;
    text-align: center;
    color: white;
    padding: 20px 0px 0px 0px;
    
}
.leaderboard-input{
    color: black;
}

.login-input{
    color: black;
    
}
.player-box{
    width: 150px;
    font-size: 20px;
    text-align: center;

}
.score-box{
    width: 150px;
    font-size: 20px;
    text-align: center;
}


.leaderboard-style{
    margin: 50px 0px 0px 0px;
    border: solid 1px white;
    padding: 5px 5px 5px 5px;
    background-color: #6DBCDB;
    border-radius: 10%;
}
.leaderboard-title{
    font-size: 2em;
    
}
.possible_answer{
    background-color: #2C3E50;
}
.possible_answer:hover{
    background-color: #46637F;
}
.about-text{
    
    font-size: 20px;
}
.about-box{
    background-color:  #6DBCDB;
    border-radius: 8%;
    margin: 50px 0px 0px 0px;
    padding: 25px 25px 25px 25px;
}
.how_you_did {
    background-color: #46637F;
}

.logo-box {
    
    width: 500px;
}
.wrong-answer {
	background: #FF8362;	
}

.correct-answer {
    background: #62DA97;
}
.show {
    background-color: #6DBCDB;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
}